{% extends 'core/base.html' %}
{% load static %}

{% block title %} Gestión de Proyectos {% endblock %}
{% block content %} 
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Reporte planificadas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Reportes</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content-header">
  <div class="d-flex flex-row-reverse mr-3">
      <div class="row">
        <form action="" method="POST">
          {% csrf_token %}
          <a href="{% url 'cambio:reporte-planificadas' %}"><button class="btn btn-secondary" type="submit"><span>EXPORTAR CSV</span></button></a>
        </form>
      </div>
  </div>
</div>
<div class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-12">
          
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Reporte</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 container horizontal-scrollable" style="overflow-x: auto;">
                    {% if planificadas %}
                    <div class="card-body table-responsive p-0" style="overflow:scroll;">
                      <table id="example1" class="table table-striped " cellspacing="0"
                      width="100%">
                      <thead>
                        <tr>
                          <th>OM</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for planificada in planificadas %}
                        <tr>
                          <td>{{planificada.om}} </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      </table>
                    </div>
                    {% else %}
                    <p>No existen proyectos</p>
                    {% endif %}
                  </div>
                </div>
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Total de proyectos {{planificadas.count}} </div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
    
    
<!-- /.content -->
{% endblock %}