{% extends 'core/base.html' %}
{% load static %}

{% block title %} HC {% endblock %}

{% block extracss %}
  <style>
    .table thead{
      background-color: rgb(0, 3, 196);
      color: white;
      text-align: center;
      font-size: 1vw;
    }
    tbody, td{
      font-weight: bold;
    }
    .telefonicaImg {
      width: 60%;
      height: 80%;
    }
    .estadosImg {
      width: 70%;
      height: 4vh;
    }
    .title{
      color: rgb(0, 4, 243);
      font-weight: bold;
      font-size: 2vw;
    }
    .textHead{
      color: rgb(0, 4, 243);
      font-size: 1.5vw;
    }
    .tdgreen{
      background-color: rgb(233, 255, 253);
      text-align: center;
    }
    .iCheck{
      color: rgb(151, 192, 3);
    }
    .table, th, td {
      border: 1px solid rgb(0, 4, 243);
    }


  </style>
{% endblock extracss %}

{% block content %} 
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
<!-- /.content-header -->

<!-- Main content -->

  <div class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <img src="http://94.74.76.125:8057/media/IneTelefonica.png" class="telefonicaImg" alt="">
                </div>
                <div class="col-md-8 d-flex flex-column text-center">
                  <strong class="title">{{titulo}}</strong>
                  <p class="textHead">{% now "l, d F Y" %}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="http://94.74.76.125:8057/media/IneEstado.png" class="estadosImg" alt="">
                </div>
                <div class="col-md-8 d-flex justify-content-center">
                  <p class="textHead">{% now "H:i" %}</p>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-sm align-middle">
                      <thead>
                        <tr>
                          <th scope="col">Red</th>
                          <th scope="col">Elemento</th>
                          <th scope="col">Status</th>
                          <th scope="col">Comentarios</th>
                          <th scope="col">Hora</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th rowspan="2" scope="row" class="tdgreen">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td><i class="fas fa-check-circle iCheck" style="color:green;"></i></td>
                          <td></td>
                          <td>7:00</td>
                        </tr>
                        <tr>

                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td><i class="fas fa-check-circle iCheck" style="color:green;"></i></td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row" class="tdgreen">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td><i class="fas fa-check-circle iCheck"></i></td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row" class="tdgreen">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td><i class="fas fa-check-circle iCheck"></i></td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row" class="tdgreen">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td><i class="fas fa-check-circle iCheck"></i></td>
                          <td></td>
                          <td>7:00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.content -->
{% endblock %}