{% extends 'core/base.html' %}
{% load static %}

{% block title %} IM {% endblock %}

{% block extracss %}
  <style>
    .table {
      font-size: 10px;
    }
    .table td,th{
      text-align: center;   
    }
    .table th{
      color: rgb(126, 171, 255);
      font-size: 11px;
      font-weight: bold;
    }
    #mainContent{
      font-family: Arial
    }
    .borderSaquare {
      display: inline-block;
      width: 100%;
      border: 1px solid rgb(26, 66, 243);
      border-radius: 15px;
      text-align: center;
    }
    .colorText {
      color: rgb(78, 245, 72);
      font-weight: bold;
    }
    .colorP {
      color: rgb(0, 0, 95);
      padding: 1.5em;
    }
    .headImg {
      width: 100%;
    }
  </style>
{% endblock extracss %}

{% block content %} 
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- /.content-header -->

  <!-- Main content -->
  <div id="mainContent" class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-12 mt-4">
          <div class="card">
            <div class="card-header">
              <div class="row d-flex justify-content-center">
                <div class="col-12">
                  <img src="http://94.74.76.125:8057/media/tituloIm.jpg" class="headImg" alt="">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-3">
                  <img src="http://94.74.76.125:8057/media/cuadro.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-9 d-flex my-auto text-center">
                  <p class="colorP">Clientes Afectados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="colorText"> Servicio</span> MPLS(27), INTD(24), VOZ(0), CC(0) <span class="colorText">&nbsp;Estado:</span> Inicio</p>
                </div>
              </div>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm align-middle ">
                      <thead>
                        <tr>
                          <th scope="col">Cliente</th>
                          <th scope="col">Sucursal</th>
                          <th scope="col">Servicio</th>
                          <th scope="col">Ticket</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr>
                        <tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr><tr>
                          <td>ELEKTRA</td>
                          <td>OAXACA OAXACA T</td>
                          <td>MPLS</td>
                          <td>HD0000005565662</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <!-- /.card-body -->
            
            <div class="row d-flex justify-content-center">
              <div class="col-11">
                <strong class="colorP borderSaquare"><span class="colorText">Descripción de la falla:</span> Se presenta intermitencias de servicio que pasan por el enclace</strong>
              </div>
            </div>
            <div class="card-header">
              <div class="row mt-3 d-flex justify-content-center">
                <div class="col-4">
                  <strong class="colorP borderSaquare"><span class="colorText">Hora de inicio:</span> 10:13 hrs.</strong>
                </div>
                <div class="col-6">
                  <strong class="colorP borderSaquare"><span class="colorText">Tiempo estimado de solución:</span> Sin tiempo estimado</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.content -->
{% endblock %}