{% extends 'core/base.html' %}
{% load static %}

{% block title %} Gestión de Proyectos {% endblock %}
{% block content %} 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Escritorio de gestión de proyectos</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Proyectos</a></li>
                    <li class="breadcrumb-item active">Escritorio</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Content Buttons exportar,importar, crear -->
    <div class="content-header">
        <div class="d-flex flex-row-reverse mr-3">
            <div class="row">
                <div class="btn-group">
                    <a href="{% url 'problema:exportar-proyectos' %}"><button type="button" class="btn btn-info mr-2">Exportar</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->

    <!-- Main content -->
    <div class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Proyectos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Tipo de Proyecto</th>
                            <th>Estatus</th>
                            <th>Gestor</th>
                            <th>Líder Técnico</th>
                            <th>Grupos</th>
                            <th>Area de ingeniería</th>
                            <th>Soporte Técnico</th>
                            <th>Nombre del PMO</th>
                            <th>Catálogo</th>
                            <th>Orden de trabajo</th>
                            <th>Comentarios</th>
                            <th>Cumplimiento</th>
                            <th>BL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proyecto in proyectos %}
                            <tr>
                            <td>{{ proyecto.id_proyecto }}</td>
                            <td>{{ proyecto.name_proyecto }}</td>
                            <td>{{ proyecto.tipoProyecto }}</td>
                            <td>{{ proyecto.estatus }}</td>
                            <td>{{ proyecto.gestor }}</td>
                            <td>{{ proyecto.lider }}</td>
                            <td>{% for grupo in proyecto.grupo.all %}{{grupo}}<br>{% endfor %} </td>
                            <td>{{ proyecto.area }}</td>
                            <td>{{ proyecto.soporte }}</td>
                            <td>{{ proyecto.pmo }}</td>
                            <td>{% for catalogo in proyecto.catalogo.all %}{{catalogo}}<br>{% endfor %}</td>
                            <td>{% for ot in proyecto.ot.all %}{{ot}}<br>{% endfor %}</td>
                            <td>{{ proyecto.comentarios_vista }}</td>
                            <td>{{ proyecto.cumplimiento }}</td>
                            <td>{{ proyecto.backlog }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div> 
        </div>
    </div>
    <!-- /.content -->
</div>
{% endblock %}