{% extends 'core/base.html' %}
{% load static %}

{% block title %} HC {% endblock %}
{% block content %} 
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Healt Check</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Hc</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
<!-- /.content-header -->

<!-- Main content -->

  <div class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <img src="http://localhost:8000/media/IneTelefonica.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 d-flex flex-column text-center">
                  <h4>{{titulo}}</h4>
                  <h6>{% now "l, d F Y" %}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="http://localhost:8000/media/IneEstado.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 d-flex justify-content-center">
                  <h6>{% now "H:i" %}</h6>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col">Red</th>
                          <th scope="col">Elemento</th>
                          <th scope="col">Status</th>
                          <th scope="col">Comentarios</th>
                          <th scope="col">Hora</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td>True</td>
                          <td></td>
                          <td>7:00</td>
                        </tr>
                        <tr>
                          <th scope="row">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td>True</td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td>True</td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td>True</td>
                          <td></td>
                          <td>7:00</td>
                        </tr><tr>
                          <th scope="row">PDC MS OMEX</th>
                          <td>MACNO CENTRO  BUNDLE-ETHER 300</td>
                          <td>True</td>
                          <td></td>
                          <td>7:00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.content -->
{% endblock %}