{% extends 'core/base.html' %}
{% load static %}

{% block title %} Gestión de Proyectos {% endblock %}
{% block content %} 
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Reporte Bases</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Reportes</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content-header">
  <div class="d-flex flex-row-reverse mr-3">
      <div class="row">
        <form action="" method="POST">
          {% csrf_token %}
          <a href="{% url 'problema:exportar-reporte-base' %}"><button class="btn btn-secondary" type="submit"><span>EXPORTAR CSV</span></button></a>
        </form>
      </div>
  </div>
</div>
<div class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-12">
          
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Reporte</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 container horizontal-scrollable" style="overflow-x: auto;">
                    {% if proyectos%}
                    <div class="row">
                      <div class="col">
                        <div class="card card-body">
                    
                          <form method="get">
                            {{filter.form}}
                            <button class="btn btn-primary" type="submit">Filtrar</button>
                          </form>
                          
                        </div>
                      </div>
                      
                    </div>
                    <div class="card-body table-responsive p-0" style="overflow:scroll;">
                      <table id="example1" class="table table-striped " cellspacing="0"
                      width="100%">
                      <thead>
                        <tr>
                          <th>Gerente</th>
                          <th>LT</th>
                          <th>Proyecto</th>
                          <th>Fecha alta workflow</th>
                          <th>Fecha PP</th>
                          <th>Gestor</th>
                          <th>Comentarios</th>
                          <th>Entregables</th>
                          <th>Entregables no entregados</th>
                          <th>Estado</th>
                          <th>Detencion PP</th>
                          <th>Catálogo</th>
                          <th>OLA</th>
                          <th>Fecha OLA</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for proyecto in proyectos%}
                        <tr>
                          <td>{{proyecto.lider.gerente}}</td>
                          <td>{{proyecto.lider}} </td>
                          <td>{{proyecto.name_proyecto}}</td>
                          <td>{{proyecto.fecha_alta_workflow}}</td>
                          <td>{{proyecto.fecha_pp}}</td>
                          <td>{{proyecto.gestor.name}}</td>
                          <td>{{proyecto.comentarios_vista}}</td>
                          <td>{{proyecto.get_fechasEntregado}}</td>
                          <td>{{proyecto.get_fechasNoEntregado}}</td>
                          <td>{{proyecto.estatus}}</td>
                          <td>{{proyecto.detencion}}</td>
                          <td>{% for catalogo in proyecto.catalogo.all %}{{ catalogo.name}} ({{catalogo.ambiente}}), {% endfor %}</td>
                          <td>{{proyecto.ola}}</td>
                          <td>{{proyecto.fecha_ola}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      </table>
                    </div>
                    {% else %}
                    <div class="row mb-2">
                        <div class="col">
                          <div class="card card-body">
                      
                            <form method="get">
                              {{filter.form}}
                              <button class="btn btn-primary" type="submit">Filtrar</button>
                            </form>
                            
                          </div>
                        </div>
                    </div>
                    <p>No existen proyectos</p>
                    {% endif %}
                  </div>
                </div>
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Total de proyectos {{proyectos.count}} </div></div>
                    </div>
                    <div class="pagination col-lg-6">
                      <span class="step-links">
                          {% if page_obj.has_previous %}
                              <a href="?page=1">&laquo; Inicio</a>
                              <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                          {% endif %}
                  
                          <span class="current">
                              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                          </span>
                  
                          {% if page_obj.has_next %}
                              <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                              <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                          {% endif %}
                      </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
    
    
<!-- /.content -->
{% endblock %}